@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;

}
main{
    display: flex;
    min-height: 100vh;
}
.holder{
    display: flex;
    min-height: 100vh;
}
img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.signup{
    min-width: 60vw;
}

.inform p{
    font-size: 1.5rem;
    margin: 15px;
}

.register{
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

.first-column, .second-column{
    display: flex;
    flex-direction: column;
    
}

label{
    font-size: 1.3rem;
    font-family: 'Inconsolata', monospace;
}
input{
    width: 20vw;
    font-family: 'Inconsolata', monospace;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.error{
    color: red;
    font-family: 'Inconsolata', monospace;
}

form{
    border-radius: 2% 98% 0% 100% / 99% 3% 97% 1% ;
    box-shadow: 3px 16px 16px -3px rgba(0,0,0,0.46);
    -webkit-box-shadow: 3px 16px 16px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 3px 16px 16px -3px rgba(0,0,0,0.46);
    padding: 12px;
    background-color: rgba(168,187,227,255);
    display: flex;
    justify-content: center;
    gap: 4rem;
    justify-content: space-evenly;
}

input[type="submit"]{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 180px;
    padding: 5px;
    background-color: rgba(0,125,254,255);
    border: none;
    color: #fffbf8;
    border-radius: 5px;
    font-size: 1.3rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
}
input[type="submit"]:hover{
    font-size: 1.4rem;
 
}


@media only screen and (max-width: 700px) {
    form, main{
        flex-direction: column;
    }
    input{
        width: 50vw;
    }
    input[type="submit"]{
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
    }
  }